.navbar-brand, .navbar-brand img {
  width: 80px;
}
.navbar-toggler {
    border-color: rgba(217, 214, 218, 1);
}
nav div.container-fluid {
  margin: auto;
}
.chevron { 
  list-style: none; 
  overflow: hidden;
  font: 14px Sans-Serif; 
}
.chevron li { 
  float: left;
  margin-right: 30px;
  width: 100px;
}
.chevron li a {
  color: rgba(67, 54, 72, 1) !important;
  text-decoration: none; 
  padding: 10px 0 10px 50px !important;
  background: rgba(217, 214, 218, 1); 
  position: relative; 
  display: block;
  float: left;
  width: 100%;
  text-align: centre;
}
.chevron li a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgba(217, 214, 218, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}
.chevron li a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgba(67, 54, 72, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: -100%;
  left: 100%;
  z-index: 1; 
}
div#search {
  overflow: hidden;
  background-color:  rgba(67, 54, 72, 1);
  width: 80%;
  position: relative;
}
input[type="search"] {
  padding-left: 35px;
  background-color: rgba(217, 214, 218, 1);
  border-color: rgba(217, 214, 218, 1);
  border-style: none;
  width: 80%
}
div#search::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgba(67, 54, 72, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  z-index: 1; 
}

div#search::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgba(217, 214, 218, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 80%;
  z-index: 100; 
}
.btn {
  padding: 0;
}
#searchBtn {
  padding: 0;
  width: 25px;
}

.chevron li.nav-item a.active {
  color: rgba(255, 112, 0, 1) !important;
}