h4 > img {
    max-height: 1em;
    vertical-align: bottom;
    margin-left: 5px;
}

img.poster, h4.whatsOnTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.whatsOnCard h4{
    color: rgba(217, 214, 218, 1);
    padding-top: 0px;
}