footer {
    background-color: rgba(105, 94, 109, 1);
    color: rgba(217, 215, 218, 1);
}

#footer-content {
    padding: 25px;
}

.footer-link a {
    color: rgba(217, 215, 218, 1);
    text-decoration: none;
}

.fa-icon {
    margin-top: 20px;
    margin-right: 40px;
}

#copyright {
    font-size: 0.75rem;
    padding: 10px;
    text-align: center;
}

.footer-image {
     max-height: 120px;
     max-width: 150px;
     display: block;
     margin: auto;
}

@media screen and (max-width: 768px) {
    .customFooter {
        margin-bottom: 20px;
        text-align: center;
    }
    
    /* .customFooter .row h6, .customFooter nav, .customFooter p,  {
        
    }

     {
        text-align: center;
    } */
}