p.left, p.right {
    margin: 0;
}

p.left {
    padding: 20px 20px 20px 0px; 
}

p.right {
    padding: 20px 0px 20px 40px; 
}

p.top, p.middle, img.top, img.middle {
    border-bottom: 5px solid rgba(217, 214, 218, 1);
}

p.bottom, p.middle, img.bottom, img.middle {
    border-top: 5px solid rgba(217, 214, 218, 1);
}

div.left {
    border-right: 5px solid rgba(217, 214, 218, 1);
    padding-right: 0;
}

div.right {
    border-left: 5px solid rgba(217, 214, 218, 1);
    padding-left: 0;
}

@media screen and (max-width: 767px) {

    div.left, div.right {
        border-left: none;
        border-right: none;
        padding: inherit;
    }

    p.left, p.right {
        margin: 0;
        padding: 20px 20px;
    }

    .top, .middle, .bottom {
        border-top: 5px solid rgba(217, 214, 218, 1);
        border-bottom: 5px solid rgba(217, 214, 218, 1);
    }

    div.left :first-child {
        border-top: none;
    }
    
    div.right :last-child {
        border-bottom: none;
    }
}